<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="description" content="web application">
      <meta name="author" content="Amancha Rahul">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>cinema</title>
            <style>
              body{
                    background-image:url("https://images.pexels.com/photos/2774566/pexels-photo-2774566.jpeg?cs=srgb&dl=pexels-luis-quintero-2774566.jpg&fm=jpg");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    position:relative;
                    }


                    .moviecontainer h1{
                        text-align:center;
                        color:white;
                    }
        
                    h2{
                        margin-top:180px;
                        margin-left:-30px;
                        color:white;
                    }

                    img{
                        border-radius:34px;
                    }

            </style>
    </head>

<body>
    <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <h1 style="color:white">
        CINEMA 
     <img src="https://cdn2.iconfinder.com/data/icons/video-outline/512/Video_set_icon-05-512.png" width="40" height="40" class="d-inline-block align-top" alt="">

    </h1>
  </nav>

  
            
<div class="moviecontainer">
    <p style="color:white" ALIGN=center>Please click on the movie to watch it!😎</p>
    <h1>Thriller</h1>
    <div class="movieslist1" style="display:flex">
    <a href="https://swatchseries.is/watch-movie/watch-deja-vu-19088.5298487"><img src="https://m.media-amazon.com/images/I/51MQA9WOT1S._AC_UF894,1000_QL80_.jpg" height=150px></a>
    <h2>Deja vu</h2><hr>
    <a href="https://swatchseries.is/watch-movie/watch-limitless-18769.5299090"><img src="https://i.pinimg.com/originals/e8/48/4e/e8484e2bcac24d7625a6e70e852b8860.jpg" height=150px></a>
    <h2>limitless</h2><hr>
    <a href="https://swatchseries.is/watch-movie/watch-shutter-island-19490.5349259"><img src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p3531967_p_v13_an.jpg" height=150px></a>
    <h2>Shutter Island</h2><hr>
    <a href="https://swatchseries.is/watch-movie/watch-tenet-63301.5472559"><img src="https://resizing.flixster.com/zHrh5Wu9CxOi55eiImv27H-7zMw=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzliMTVjNTkwLTA1ZTUtNDEyMS04NmNmLTBiMzA2OThhMGY0MC5qcGc=" height=150px></a>
    <h2>Tenet</h2>
    </div><br>
     

    <h1>Sci-fi</h1>
    <div class="movieslist2" style="display:flex">
        <a href="https://swatchseries.is/watch-movie/watch-inception-19764.5297266"><img src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p7825626_p_v8_af.jpg" height=150px></a>
        <h2>Inception</h2><hr>
        <a href="https://swatchseries.is/watch-movie/watch-the-matrix-19724.5349115"><img src="https://miro.medium.com/v2/resize:fit:1400/0*eb0v8gYdBVvwwOiG.jpg" height=150px></a>
        <h2>Matrix</h2><hr>
        <a href="https://swatchseries.is/watch-movie/watch-interstellar-19788.5297302"><img src="https://media.themoviedb.org/t/p/w500/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg" height=150px></a>
        <h2>Interstellar</h2><hr>
        <a href="https://swatchseries.is/watch-movie/watch-2001-a-space-odyssey-19523.5349241"><img src="https://facts.net/wp-content/uploads/2023/06/48-facts-about-the-movie-2001-a-space-odyssey-1687265230.jpg" height=150px></a>
        <h2>A Space Odyssey</h2>
    </div><br>

    <h1>Biopic</h1>
    <div class="movieslist3" style="display:flex">
            <a href="https://swatchseries.is/watch-movie/watch-the-wolf-of-wall-street-19543.5349085"><img src="https://m.media-amazon.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@._V1_.jpg" height=150px></a>
            <h2>Wolf of Wall Street</h2><hr>
            <a href="https://swatchseries.is/watch-movie/watch-the-social-network-18956.5298736"><img src="https://miro.medium.com/v2/resize:fit:1400/1*AGuIdqTVnRfTYLcEsByBFQ.jpeg" height=150px></a>
            <h2>The Social Network</h2><hr>
           
            <a href="https://swatchseries.is/watch-movie/watch-whiplash-19644.5297482"><img src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p10488558_p_v12_ai.jpg" height=150px></a>
            <h2>Whiplash</h2><hr>
            
            <a href="https://swatchseries.is/watch-movie/watch-ali-14010.5303956"><img src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p28870_v_v10_aa.jpg" height=150px></a>
            <h2>Ali</h2>
    </div><br>


    <h1>Drama</h1>
    <div class="movieslist4" style="display:flex">
        <a href="https://swatchseries.is/watch-movie/watch-scarface-19298.5298100"><img src="https://images.moviesanywhere.com/90625ae65f5ce05b944dda57f6a6c925/ea381892-524f-4ade-a3f9-930af3991cea.jpg" height=150px></a>
                <h2>Scarface</h2><hr>
        <a href="https://swatchseries.is/watch-movie/watch-southpaw-19627.5297512"><img src="https://timesofindia.indiatimes.com/photo/61246126.cms" height=150px></a>
                <h2>Southpaw</h2><hr>
        <a href="https://swatchseries.is/watch-movie/watch-fight-club-19651.5297485"><img src="https://images.moviesanywhere.com/46107eaa3f3912a1b0b6e181d8967257/15551ffc-4a96-4e6c-a024-511417656c7e.jpg" height=150px></a>
                <h2>Fight Club</h2><hr>
        
        <a href="https://swatchseries.is/watch-movie/watch-ford-v-ferrari-41453.5402800"><img src="https://m.media-amazon.com/images/S/pv-target-images/b7a51fcdee29dcb53bc11170b510e85ae808176477d01a00795ad7288d69f5ac.jpg" height=150px></a>
        <h2>Ford v Ferrari</h2>
    </div><br>
</div>
</body>
    
    </html>